.sidebar {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.sidebar__user-avatar {
    width: 56px;
    height: 56px;
    padding: 0;
    margin: 0;
}

.sidebar__username {
    font-family: "Cabinet Grotesk Bold", sans-serif;
    font-size: 20px;
    line-height: 24.8px;
    margin: 0;
    padding: 0;
}