.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: "Cabinet Grotesk Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  border-radius: 20px;
  max-width: 496px;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  position: relative;
  width: 100%;
}

.modal__title {
  margin: 0 0 24px 0;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.modal__close-icon {
  width: 20px;
  height: 20px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

.modal__label {
  margin: 0;
  padding: 0;
}

.modal__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  padding: 0;
  margin: 8px 0 24px 0;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 32px 0;
  border: none;
}

.modal__legend {
  margin: 0 0 12px 0;
  padding: 0;
}

.modal__label_type_radio {
  display: flex;
  align-items: center;
  margin: 0 0 8px 0;
  padding: 0;
  gap: 11px;
}

.modal__radio-button input[type="radio"] + .modal__label {
 opacity: 50%;
}

.modal__radio-button input[type="radio"]:checked + .modal__label {
  opacity: 100%;
}


.modal__submit {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 124px;
  height: 36px;
}
