.profile {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 116px;
}
.profile__sidebar {
    padding: 0;
    margin: 0;
}

.profile__clothesSection {
    padding: 0;
    margin: 0;
}

.clothesSection__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0 0 80px 0;
}