.header {
    margin: 0;
    padding: 32px 0 28px;
    display: flex;
    align-items: center;
    font-family: 'Cabinet Grotesk Regular', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
 
.header__logo {
    padding: 0;
    margin: 0 24px 0 0;
    height: 40px;
    width: 89px;
}

.header__datelocation-container {
    padding: 0;
    margin: 11px 0 0 0;
    display: flex;
    flex-direction: row;
}

.header__date {
    padding: 0;
    margin: 0;
}

.header__location {
    padding: 0;
    margin: 0;
}


.header__add-clothes-button {
    margin: 0 20px 0 auto;
    padding: 0;
    height: 24px;
    background-color: transparent;
    border: none;
    font-family: 'Cabinet Grotesk Regular', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.header__user-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 88px;
}

.header__user-name {
    padding: 0;
    margin: 0;
}

.header__user-avatar {
    padding: 0;
    margin: 0;
}