.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 42px 0;
    margin: 0;
    height: 20px;
    font-family: 'Cabinet Grotesk Normal', sans-serif;
}

.footer__author {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
}

.footer__year {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
}